Analyze Bank Transactions

In [8]:
# Import necessary libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import openai
from dotenv import load_dotenv

# Load environment variables from .env
load_dotenv()

True

Import Data From the CSV file into a Dataframe

In [20]:
# Load the dataset, knowing that the first row does not contain the header
## Header Columns are: Date	Description	Amount in	Amount out

df = pd.read_csv('./csvs/TransactionHistory.csv', header=None, names=['Date', 'Description', 'Amount_GBP'])

df.head()
# Check the data types of the columns

         Date                           Description  Amount_GBP
0  25/04/2025        LULWORTH ESTATE CA WAREHAM )))      -20.00
1  25/04/2025           THE DOLLS HOUSE WAREHAM )))      -15.20
2  25/04/2025         The Countryman Dorchester )))      -75.10
3  24/04/2025  SWRAILWAYSELFSERVE SWTRAINSBROCK )))       -4.30
4  24/04/2025       WELCOME RETAIL WELCOME 9746 )))      -15.89

We need to convert the GBP into EUR

In [21]:
def convert_gbp_to_eur(gbp_amount, conversion_rate=1.16):
    if pd.isna(gbp_amount):
        return None  # Handle missing values safely
    return round(gbp_amount * conversion_rate, 2)  # Round to 2 decimal places

In [23]:
df['Amount_EUR'] = df['Amount_GBP'].apply(convert_gbp_to_eur)
df.head()
# Check the data types of the columns

         Date                           Description  Amount_GBP  Amount_EUR
0  25/04/2025        LULWORTH ESTATE CA WAREHAM )))      -20.00      -23.20
1  25/04/2025           THE DOLLS HOUSE WAREHAM )))      -15.20      -17.63
2  25/04/2025         The Countryman Dorchester )))      -75.10      -87.12
3  24/04/2025  SWRAILWAYSELFSERVE SWTRAINSBROCK )))       -4.30       -4.99
4  24/04/2025       WELCOME RETAIL WELCOME 9746 )))      -15.89      -18.43

Some columns and rows selection with slicing and dicing

In [29]:
all_cols = list(df.columns)
all_cols.head()
#print(all_cols)

exclude_cols = df[['Date', 'Description', 'Amount_GBP', 'Amount_EUR']]
exclude_cols.head()

#print(exclude_cols)

# Check the data types of the columns
print(df.dtypes)

AttributeError: 'list' object has no attribute 'head'

Data Analysis

In [ ]:
# Check for missing values
print(df.isnull().sum())
# Check for duplicates
print(df.duplicated().sum())
# Check for unique values in the 'Description' column
print(df['Description'].nunique())
# Check for unique values in the 'Description' column
print(df['Description'].unique())

Now we need to mark what transaction are relevant to us, let's start with categorizing them

In [9]:
# Set OpenAI key
openai.api_key = os.getenv("OPENAI_API_KEY")

In [10]:
# Function to categorize
def get_category(description):
    response = openai.ChatCompletion.create(
        model="gpt-4",
        messages=[
            {"role": "system", "content": "You are a product categorization assistant."},
            {"role": "user", "content": f"Classify this product into a broad category: '{description}'"}
        ],
        temperature=0
    )
    return response['choices'][0]['message']['content'].strip()

We apply the function and rettrieve the categories

In [ ]:
# Apply it
df['Category'] = df['Description'].apply(get_category)

# Show result
print(df)

APIRemovedInV1:

You tried to access openai.ChatCompletion, but this is no longer supported in openai>=1.0.0 - see the README at https://github.com/openai/openai-python for the API.

You can run `openai migrate` to automatically upgrade your codebase to use the 1.0.0 interface.

Alternatively, you can pin your installation to the old version, e.g. `pip install openai==0.28`

A detailed migration guide is available here: https://github.com/openai/openai-python/discussions/742